/class practice/JavaApplication1/nbproject/private/
/class practice/chapter 2 java/nbproject/private/
/class practice/chapter 2 java/build/
/class practice/com.jvapractice.chapter1/nbproject/private/
/class practice/chapter1 practice/nbproject/private/
/class practice/chapter1 practice/build/
/class practice/chapter 3/nbproject/private/
/class practice/chapter 3 java/nbproject/private/
/class practice/chapter 3 java/build/
/class practice/chapter 4/nbproject/private/
/class practice/JavaApplication8/nbproject/private/
/class practice/Chapter 4 Birthday/nbproject/private/
/class practice/Chapter 4 Birthday/build/