/class practice/JavaApplication1/nbproject/private/
/class practice/chapter 2 java/nbproject/private/
/class practice/chapter 2 java/build/
/class practice/com.jvapractice.chapter1/nbproject/private/
/class practice/chapter1 practice/nbproject/private/
/class practice/chapter1 practice/build/